.button {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
  gap: 8px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    justify-content: center;
  }
}

.btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border: 0;
  cursor: pointer;
  font-weight: 500;
  height: 38px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--select,
  &:hover,
  &:focus {
    background: var(--brand-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--spam {
    padding: 10px 26px;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
  }
}

.hero__btn--select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: var(--brand-color);
  height: 50px;
  width: 200px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  color: #ffffff;
}
.submit-btn {
  background: var(--brand-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  padding: 10px 55px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  &:hover {
    cursor: pointer;
  }
  &__icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover &__icon {
    fill: var(--brand-color);
    cursor: pointer;
  }
}
