.form__name {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  padding: 9px 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    cursor: pointer;
  }

  &:last-child {
    display: flex;
    align-items: flex-start;
    height: 120px;
    margin-bottom: 20px;
    padding: 8px;
    resize: none;

    &::placeholder {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.form__icon {
  position: absolute;
  bottom: 14px;
  left: 14px;
  fill: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;

  &:hover .form__icon,
  &:focus .form__icon {
    fill: #2196f3;
  }
}
