.logo {
  font-family: var(--logo-text);
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color);

  @media screen and (max-width: 767px) {
    font-size: 24px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    text-align: center;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 93px;
    margin-left: auto;
  }

  &--black {
    color: black;
    margin-right: 0px;
  }

  &--footer {
    color: white;
    margin-right: 0px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
