.nav {
  display: flex;
  align-items: center;
  justify-content: left;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    margin-right: 50px;
    position: relative;
    padding-bottom: 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      display: flex;
      content: "";
      height: 4px;
      width: 100%;
      background: #2196f3;
      border-radius: 2px;
      position: absolute;
      top: 53px;
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--active {
      color: #2196f3;
      position: relative;
    }

    &--active::after {
      display: flex;
      content: "";
      height: 4px;
      width: 100%;
      background: #2196f3;
      border-radius: 2px;
      position: absolute;
      top: 53px;
      opacity: 1;
    }

    &:hover,
    &:focus {
      color: var(--brand-color);
      cursor: pointer;
    }

    &:hover:after,
    &:focus:after {
      opacity: 1;
    }
  }
}
