ul {
  padding-inline-start: 0px;
  margin: 0;
}

li {
  margin: 0px;
  list-style-type: none;
}

p {
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
