.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-item {
  gap: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: #fff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--brand-color);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--brand-color);
  }
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
