.footer {
  display: block;
  background: var(--fuller-color);
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 60px;
}

.find-us {
  display: flex;
  align-items: baseline;
}

.find {
  width: 231px;
  margin-right: 70px;
}
