.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/bg/bgImg.jpg);
  background-image: url(../images2/hero/Img-1_sm1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images2/hero/Img-1_sm2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images2/hero/Img-1_md1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images2/hero/Img-1_md2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images2/hero/Img-1_lg1x.jpg);
    background-size: 1600px cover;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images2/hero/Img-1_lg2x.jpg);
    }
  }
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
